Please write a {{novel_type}} novel with this description:
{{description}}

Plan 50 chapters. Follow the format below precisely:

Begin with the name of the novel.
Next, write an outline for the first chapter. The outline should describe the background and the beginning of the novel.
Write the first three paragraphs with their indication of the novel based on your outline. Write in a novelistic style and take your time to set the scene.
Write a summary that captures the key information of the three paragraphs.
Finally, write three different instructions for what to write next, each containing around five sentences. Each instruction should present a possible, interesting continuation of the story.
The output should be outputted in JSON with following fields:

{
    "name": <name of the novel>,
    "outline": <outline for the first chapter>,
    "paragraph_1": <content for paragraph 1>,
    "paragraph_2": <content for paragraph 2>,
    "paragraph_3":  <content for paragraph 3>,
    "summary": <content of summary>,
    "instruction_1": <content for instruction 1>,
    "instruction_2": content for instruction 2>,
    "instruction_3": <content for instruction 3>
}

Make sure to be precise and follow the output format strictly
