A novel is called "{{name}}" in a genre and style of {% if not novel_type %}Science Fiction{% else %}{{novel_type}}{% endif %}.

Write only the first 3 big paragraphs for the single first chapter. Each paragraph should have at least 5 sentences.

Use strictly this language: {{language}}

Synopsis:
{{synopsis}}

Outline:
{{plan}}

Remember, you are an author narrating events. Events should be narrated in the third person limited perspective and contain dialogues between the characters present. Do not conclude your output, leave it open for continuation. Write in a novelistic style and take your time to set the scene.
Write 3 paragraphs below:
