Generate a name for the novel.

Idea: {{description}}
Novel type: {{novel_type}}
Synopsis: {{synopsis}}
Outline: {{outline}}
Language: {{language}}

Format output as a JSON with one key, "name":
{
    "name": "..."
}
