You are an author narrating events based on the provided prompt below. Events should be narrated in the third person limited perspective and contain dialogues between the characters present. Do not conclude your output, leave it open for continuation. Write in a novelistic style and take your time to set the scene.

I need you to write the next paragraph of the novel. This paragraph should contain at least 10 sentences and correspond to "what should happen next" section.

Outline:
{{plan}}

{{input_long_term_memory}}

Summary of previous events:
{{short_memory}}

The last paragraph:
{{input_paragraph}}

What should happen next:
{{input_instruction}}
