You are given a summary of previous events and a new text fragment of a book.
The fragment contains only a part of a chapter or an intersection of several chapters.
Ignore anything not related to the book itself: copyright notices, for instance.

You should summarize the book content from the new text fragment.
Include the vital information about key events, backgrounds, settings, characters, objectives, and motivations.
The summary should contain at most {{num_sentences}} sentences.
Write in the same language as the text.
Output summary as a JSON where each summary point is an object: {"summary": [{"summary_point": "..."}, ...]}

If there are any chapter headers in the text fragment such as "Prologue" or "CHAPTER 10" or similar things in other languages, always preserve them as separate objects together with summary points.
For instance, "Chapter 2" in the text fragment becomes {"chapter_header": "Chapter 2"} and "11. Trap in the wild" in the text fragment becomes {"chapter_header": "11. Trap in the wild"}.
Be sure to find such chapter headers, as they are vital to preserve the original structure of the text!
Do not add your own chapter headers. Only copy them from the original text fragment! You must not invent your own headers!

In case there is a chapter header in the text, the output will be like this:
{
    "summary": [
        {"summary_point": "<summary of the content from the previous chapter>"},
        {"chapter_header": "<chapter header from the text>"},
        {"summary_point": "<summary of the content from the next chapter>"}
    ]
}

{% if prev_summary -%}Previous summary: {{prev_summary}}{%- endif %}

{% if prev_chapter_header -%}Previous chapter header: {{prev_chapter_header}}{%- endif %}
{% if prev_chapter_header -%}It is likely that the new chapter header will have the same structure and style as the previous chapter header, and the new chapter number is likely to be the next number. Do not repeat the previous chapter header!{%- endif %}

Text fragment:
####

{{text}}

####

Now output JSON-formatted summary in this language: {{language}}. Save chapter headers only if they exist in the text fragment above.
